{{input value=instrument.color class="col-sm-12"}}

<select onchange={{action (mut instrument.shape) value="target.value"}}>
  {{#each shapeOptions as |shape|}}
    <option value={{shape}} selected={{eq instrument.shape shape}}>{{shape}}</option>
  {{/each}}
</select>

<paper-slider data-attribute="width" class="col-sm-12" min="1" max="250"
              onchange={{action (mut instrument.width) value="target.value"}}
              onmousemove={{action (mut instrument.width) value="target.immediateValue"}}
              value={{instrument.width}} pin editable></paper-slider>
<paper-slider data-attribute="height" class="col-sm-12" min="1" max="250"
              onchange={{action (mut instrument.height) value="target.value"}}
              onmousemove={{action (mut instrument.height) value="target.immediateValue"}}
              value={{instrument.height}} pin editable></paper-slider>
<paper-slider data-attribute="angle" class="col-sm-12" min="0" max="360"
              onchange={{action (mut instrument.angle) value="target.value"}}
              onmousemove={{action (mut instrument.angle) value="target.immediateValue"}}
              value={{instrument.angle}} pin editable></paper-slider>

<div class="col-sm-12">
  <paper-button raised onclick={{action 'saveInstrument'}}
                disabled={{instrument.isNotDirty}}><iron-icon icon="done"></iron-icon>Save Changes</paper-button>

  <paper-button onclick={{action 'undoChanges'}}
                disabled={{instrument.isNotDirty}}><iron-icon icon="clear"></iron-icon>Undo Changes</paper-button>
</div>
