<div class="page-header">
  <h1>{{model.title}} <small>{{model.formattedDate}}</small></h1>
</div>

{{#link-to 'performances.edit' model class='btn btn-warning'}}Edit{{/link-to}}
<button {{action 'delete' model}} class="btn btn-danger">Delete</button>

<div class="performance-details">
</div>

<div class="performance-members">
  <h2>Performers</h2>

  <p>
    {{#each model.sortedMembers as |member|}}
      <span class="performance-member">
        {{#link-to 'members.show' member}}{{member.name}}{{/link-to}}
      </span>
  {{else}}
    No performers have been assigned to this performance yet.
  {{/each}}
  </p>
</div>