<ul class="list-group col-sm-6 members-list">
  {{#each sortedMembers as |member|}}
    <li class="list-group-item members-list-item">
      {{#if member.upcomingPerformances}}
        <span class="badge">{{member.upcomingPerformances.length}}</span>
      {{/if}}

      {{#link-to 'members.show' member}}{{member.name}}{{/link-to}}

      <button class="btn-icon pull-right" {{action 'delete' member}}>
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </li>
  {{/each}}
  <li class="list-group-item">
    <form class="inline-form row" {{action 'createMember' on='submit'}}>
      <div class="form-group col-xs-9">
        <label for="name" class="sr-only">Member Name</label>
        {{input value=name type="text" id="name" class="form-control" placeholder="New member name"}}
      </div>

      <button type="submit" class="btn btn-default">Create</button>
    </form>
  </li>
</ul>
